<!DOCTYPE html>
<html lang="en">

<head>
    <title>Animate a series of images</title>
    <meta property="og:description" content="Use a series of image sources to create an animation." />
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@3.3.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@3.3.0/dist/maplibre-gl.js'></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        html,
        body,
        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        const map = new maplibregl.Map({
            container: 'map',
            style:
                'https://api.maptiler.com/maps/streets/style.json?key=wxwXy6rWFqQVfA26FFiS',
            zoom: 5,
            maxZoom: 5,
            minZoom: 4,
            center: [-113, 40]
        });

        const frameCount = {{ sources | length }};
        let currentImage = 0;

        map.on('load', () => {
            {% for source in sources %}map.addSource('source-{{ loop.index0 }}', {{ source }});
            {% endfor %}
            {% for layer in layers %}map.addLayer({{ layer }});
            {% if loop.index0 > 0 %}
            map.setLayoutProperty(`layer-{{ loop.index0 }}`, "visibility", "none");
            {% endif %}
            {% endfor %}

            setInterval(() => {
                let previousImage = currentImage;
                currentImage = (currentImage + 1) % frameCount;
                map.setLayoutProperty(`layer-${ currentImage }`, "visibility", "visible");
                map.setLayoutProperty(`layer-${ previousImage }`, "visibility", "none");
            }, 500);
        });

    </script>
</body>

</html>
