<!DOCTYPE html>
<html lang="en">

<head>
    <title>goes-meso-visualizer</title>
    <meta property="og:description" content="Use a series of image sources to create an animation." />
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@3.3.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@3.3.0/dist/maplibre-gl.js'></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        html,
        body,
        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        fetch("./item-collection.json").then((response) => response.json()).then((item_collection) => {
            fetch("./geometry.json").then((response) => response.json()).then((geometry) => {
                let min_longitude = 180;
                let max_longitude = -180;
                let min_latitude = 90;
                let max_latitude = -90;
                for (let i = 0; i < geometry["coordinates"].length; i++) {
                    let coordinates = geometry["coordinates"][i];
                    for (let j = 0; j < coordinates.length; j++) {
                        let coordinate = coordinates[j];
                        if (coordinate[0] < min_longitude) {
                            min_longitude = coordinate[0];
                        }
                        if (coordinate[0] > max_longitude) {
                            max_longitude = coordinate[0];
                        }
                        if (coordinate[1] < min_latitude) {
                            min_latitude = coordinate[1];
                        }
                        if (coordinate[1] > max_latitude) {
                            max_latitude = coordinate[1];
                        }
                    }
                }
                const center = [(min_longitude + max_longitude) / 2, (min_latitude + max_latitude) / 2];

                const map = new maplibregl.Map({
                    container: 'map',
                    style:
                        'https://api.maptiler.com/maps/streets/style.json?key=wxwXy6rWFqQVfA26FFiS',
                    zoom: 4,
                    maxZoom: 5,
                    minZoom: 2,
                    center: center,
                });

                map.on("load", () => {
                    let layers = [];
                    let currentLayer = 0;

                    for (let i = 0; i < item_collection["features"].length; i++) {
                        let item = item_collection["features"][i];
                        let bbox = item["bbox"];
                        map.addSource(item["id"] + "-source", {
                            type: "image",
                            url: item.assets["web_png"]["href"],
                            coordinates: [
                                [bbox[0], bbox[3]],
                                [bbox[2], bbox[3]],
                                [bbox[2], bbox[1]],
                                [bbox[0], bbox[1]],
                            ]
                        });
                        map.addLayer({
                            id: item["id"] + "-layer",
                            type: 'raster',
                            source: item["id"] + "-source",
                            paint: {
                                'raster-fade-duration': 0
                            },
                            layout: {
                                visibility: "none"
                            }
                        });
                        layers.push(item["id"] + "-layer");
                    }

                    map.addSource("geometry-source", {
                        type: "geojson",
                        data: geometry,
                    });
                    map.addLayer({
                        id: "geometry-layer",
                        type: "line",
                        source: "geometry-source",
                        paint: {
                            "line-color": "#F91514",
                            "line-width": 5,
                            "line-opacity": 0.2,
                            "line-blur": 2,
                        }
                    });

                    setInterval(() => {
                        let previousLayer = currentLayer;
                        currentLayer = (currentLayer + 1) % layers.length;
                        map.setLayoutProperty(layers[currentLayer], "visibility", "visible");
                        map.setLayoutProperty(layers[previousLayer], "visibility", "none");
                    }, 100);
                });
            });
        });
    </script>
</body>

</html>
